<div class="row well well-sm">
	<div class="col-xs-12 col-sm-4 col-md-4">
		<form class="navbar-form navbar-left" role="search" action="{:U('/Home/Search/searched')}" method="post">
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="搜索客户" name="searched">
			</div>
			  <input class="btn btn-success" type="submit" value="搜索">
		</form>
	</div>


<!-- 	<div class="col-xs-12 col-sm-8 col-md-8">
		<form action="{:U('/Home/Search/screening')}" method="post" class="navbar-form navbar-right">
			<div class="form-group">
				<span>是否合作：</span>
				<select name="success" id="" class="form-control">
					<option value="all">所有</option>
					<option value="1">已合作</option>
					<option value="0">未合作</option>
				</select>
				<span>所属人：</span>
				<select name="username" id="" class="form-control">
					<option value="0">所有</option>
					<for start="1" end="$maxid">
						<foreach name="username" item="n">
	                  		<if condition="($i eq $n['id'])"> <option value="{$v['uid']}">{$n.name}</option></if>
	                	</foreach>
					</for>
				</select>
				<span></span>
				<span>添加日期：</span>
				<input type="date" name="date1" id="">
				<span>至</span>
				<input type="date" name="date2" id="">
				<input type="submit" value="筛选" class="btn btn-success">
			</div>
		</form>
	</div> -->






	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  筛选
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">筛选</h4>
	      </div>
	      <div class="modal-body">
	        <form action="{:U('/Home/Search/screening')}" method="post" class="navbar-form navbar-right">
				<div class="form-group">
					<span>是否合作：</span>
					<select name="success" id="" class="form-control">
						<option value="all">所有</option>
						<option value="1">已合作</option>
						<option value="0">未合作</option>
					</select>
				</div>
				<div class="form-group">
					<span>所属人：</span>
					<select name="username" id="" class="form-control">
						<option value="0">所有</option>
						<for start="1" end="$maxid">
							<foreach name="username" item="n">
		                  		<if condition="($i eq $n['id'])"> <option value="{$v['uid']}">{$n.name}</option></if>
		                	</foreach>
						</for>
					</select>
				</div>
				<div class="form-group">
					<span>添加日期：</span>
					<input type="date" name="date1" id="">
					<span>至</span>
					<input type="date" name="date2" id="">
					
				</div>
			
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <input type="submit" value="筛选" class="btn btn-success">
	      </div>
	      </form>
	    </div>
	  </div>
	</div>
	<!-- end -->
</div>
