<div class="row well well-sm">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<form class="navbar-form navbar-left" role="search" action="{:U('/Home/Search/searched')}" method="post">
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="搜索客户" name="searched">
			</div>
			  <input class="btn btn-success" type="submit" value="搜索">
		</form>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-8">
		<form action="{:U('/Home/Search/screening')}" method="post" class="navbar-form navbar-right">
			<div class="form-group">
				<span>所属人：</span>
				<select name="username" id="" class="form-control">
					<option value="0">所有</option>
					<foreach name="result" item="v">
						<foreach name="username" item="n">
	                  		<if condition="($v['uid'] eq $n['id'])"> <option value="{$v['uid']}">{$n.name}</option></if>
	                	</foreach>
	                </foreach>
				</select>
				<span></span>
				<span>添加日期：</span>
				<input type="date" name="date1" id="">
				<span>至</span>
				<input type="date" name="date2" id="">
				<input type="submit" value="筛选" class="btn btn-success">
			</div>
		</form>
	</div>
</div>
