<!DOCTYPE html>
<html lang="utf-8">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>伙伴管理</title>                       <!--网页标题-->
        <meta name="description" content="">  <!--网页介绍-->
        <META NAME ="keywords" CONTENT="">    <!--搜索关键词-->
        <link rel="stylesheet" href="__Css__/bootstrap.min.css">
 		<link rel="stylesheet" href="__Css__/index.css">
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
<body>
<include file="Public/menu" />
	<form action="{:U('/Home/Partner/deluserform')}" method="post">
		<div class="container">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-1 col-sm-1 col-md-1"><p class="text-center">#</p></div>
						<div class="col-xs-1 col-sm-1 col-md-1"><p class="text-center">ID</p></div>
						<div class="col-xs-2 col-sm-2 col-md-2"><p class="text-center">账号</p></div>
						<div class="col-xs-2 col-sm-2 col-md-2"><p class="text-center">昵称</p></div>
						<div class="col-xs-2 col-sm-2 col-md-2"><p class="text-center">登录时间</p></div>
						<div class="col-xs-2 col-sm-2 col-md-2"><p class="text-center">登录IP</p></div>
						<div class="col-xs-2 col-sm-2 col-md-2"><p class="text-center">是否具有管理权限</p></div>
					</div>
				</div>
				<div class="panel-body">
					<foreach name="result" item="v">
						<div class="row">
						<div class="col-xs-1 col-sm-1 col-md-1">
							<p class="text-center">
								<label><input type="checkbox" name="delid[]" id="id" value="{$v.id}"></label>
							</p>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1">
						<p class="text-center">{$v.id}</p>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2">
						<p class="text-center">{$v.username}</p>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2">
						<p class="text-center">{$v.name}</p>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2">
						<p class="text-center">{$v.logintime|date="Y-m-d H:i",###}</p>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2">
						<p class="text-center">{$v.loginip}</p>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2">
							<p class="text-center">	
								<if condition="$v.jd eq 1">
										<span class="glyphicon glyphicon-ok">
									<else />
										<span class="glyphicon glyphicon-remove">
								</if>
							</p>
						</div>
					</div>
					</foreach>
				</div>
				<div class="panel-footer">
					<p class="text-center">
						<input class="btn btn-danger" type="submit" value="删除">
						{$page}
					</p>
				</div>
			</div>
		</div>
	</form>
<include file="Public/footer" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="__Js__/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__Js__/bootstrap.min.js"></script>		
</body>
</html>