<!DOCTYPE html>
<html lang="utf-8">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>发布公告</title>                       <!--网页标题-->
        <meta name="description" content="发布公告">  <!--网页介绍-->
        <META NAME ="keywords" CONTENT="发布公告">    <!--搜索关键词-->
        <link rel="stylesheet" href="__Css__/bootstrap.min.css">
 		<link rel="stylesheet" href="__Css__/index.css">
 		<link rel="shortcut icon" type="image/x-icon" href="__Image__/favicon.ico" />
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
<body>
<include file="Public/menu" />
	<form action="{:U('/Home/Index/addnotice')}" method="post">
		<div class="container">
			<div class="panel panel-info">
				<div class="panel-heading">
					公告内容:
				</div>
				<div class="panel-body">
					<textarea name="text" id="text"   class="form-control" rows="6"></textarea>
				</div>
				<div class="panel-footer">
					<input class="btn btn-info" type="submit" value="发布">
				</div>
			</div>
		</div>
	</form>
<include file="Public/footer" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="__Js__/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__Js__/bootstrap.min.js"></script>
</body>
</html>