<!DOCTYPE html>
<html lang="utf-8">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>客户统计</title>                       <!--网页标题-->
        <meta name="description" content="客户统计">  <!--网页介绍-->
        <META NAME ="keywords" CONTENT="客户统计">    <!--搜索关键词-->
        <link rel="stylesheet" href="__Css__/bootstrap.min.css">
        <link rel="stylesheet" href="__Css__/index.css">
        <link rel="shortcut icon" type="image/x-icon" href="__Image__/favicon.ico" />
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
<body>
	<include file="Public/menu" />
    <div class="container">

      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
           
            <div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">所属伙伴</p></div>
            <div class="col-xs-8 col-sm-8 col-md-8"><p class="text-center">客户数</p></div>
          </div>
        </div>
        <div class="panel-body">
          <foreach name="count" item="v" key="k">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">
                <if condition="($k eq 0 )">公海中</if>
                <foreach name="username" item="n">
                  <if condition="($k eq $n['id'])"> {$n.name}
                  </if>
                </foreach>
              </p></div>
              <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{$v}" aria-valuemin="0" aria-valuemax="100" style="width:{$width*$v}%;min-width:2em;">
                    {$v}
                  </div>
                </div> 
              </div>
            </div>
          </foreach>
        </div>
      </div>
    </div>
<include file="Public/footer" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="__Js__/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__Js__/bootstrap.min.js"></script>
</body>
</html>