<!DOCTYPE html>
<html lang="utf-8">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>添加客户</title>                       <!--网页标题-->
        <meta name="description" content="添加客户">  <!--网页介绍-->
        <META NAME ="keywords" CONTENT="添加客户">    <!--搜索关键词-->
        <link rel="stylesheet" href="__Css__/bootstrap.min.css">
        <link rel="stylesheet" href="__Css__/index.css">
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
<body>
  	<include file="Public/menu" />
    <form action="{:U('/Home/Customer/addcustomerform')}" method="post" class="form">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>添加客户</h4>
              </div>
              <div class="panel-body">
                <div class="formgroup">
                  <label for="gname" class="control-label">客户名称：</label>
                  <input type="text" name="gname" id="gname" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="name" class="control-label">联系人：</label>
                  <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="tel" class="control-label">联系电话：</label>
                  <input type="tel" name="tel" id="tel" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="ca" class="control-label">所属公司：</label>
                  <input type="text" name="ca" id="ca" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="location" class="control-label">所在地：</label>
                  <input type="text" name="location" id="location" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="address" class="control-label">公司地址：</label>
                  <input type="text" name="address" id="address" class="form-control">
                </div>
                <div class="formgroup">
                <br>
                  <input class="btn btn-info" type="submit" value="确定添加">
                </div>
              </div>
          </div>
        </div>
      </div>
  	</form>
<include file="Public/footer" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="__Js__/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__Js__/bootstrap.min.js"></script>    
</body>
</html>