<!DOCTYPE html>
<html lang="utf-8">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>客户管理</title>                       <!--网页标题-->
        <meta name="description" content="客户查看">  <!--网页介绍-->
        <META NAME ="keywords" CONTENT="客户查看">    <!--搜索关键词-->
        <link rel="stylesheet" href="__Css__/bootstrap.min.css">
        <link rel="stylesheet" href="__Css__/index.css">
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
<body>
	<include file="Public/menu" />
    <form action="{:U('/Home/Customer/delcustomerform')}" method="post">
        <div class="container">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-1"><p class="text-center">#</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-1"><p class="text-center">客户编号</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-1"><p class="text-center">客户名称</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">联系人</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">联系电话</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">所属公司</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-1"><p class="text-center">所在地</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">公司地址</p></div>
                    </div>
                </div>
                <div class="panel-body">
                    <foreach name="result" item="v">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-1">
                                <p class="text-center">
                                    <label><input type="checkbox" name="delid[]" id="id" value="{$v.id}"></label>
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-1"><p class="text-center">{$v.id}</p></div>
                            <div class="col-xs-12 col-sm-3 col-md-1"><p class="text-center">{$v.gname}</p></div>
                            <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">{$v.name}</p></div>
                            <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">{$v.tel}</p></div>
                            <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">{$v.ca}</p></div>
                            <div class="col-xs-12 col-sm-3 col-md-1"><p class="text-center">{$v.location}</p></div>
                            <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">公{$v.address}</p></div>
                        </div>
                    </foreach>
                </div>
                <div class="panel-footer">
                    <input class="btn btn-danger" type="submit" value="删除">
                    {$page}
                </div>
            </div>
        </div>
    </form>
<include file="Public/footer" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="__Js__/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__Js__/bootstrap.min.js"></script>
</body>
</html>