<!DOCTYPE html>
<html lang="utf-8">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>修改客户信息</title>                       <!--网页标题-->
        <meta name="description" content="修改客户信息">  <!--网页介绍-->
        <META NAME ="keywords" CONTENT="修改客户信息">    <!--搜索关键词-->
        <link rel="stylesheet" href="__Css__/bootstrap.min.css">
        <link rel="stylesheet" href="__Css__/index.css">
        <link rel="shortcut icon" type="image/x-icon" href="__Image__/favicon.ico" />
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
<body>
	<include file="Public/menu" />
	<form action="{:U('/Home/Customer/inscustomerform')}" method="post">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>修改客户信息</h4>
              </div>
              <div class="panel-body">
                <div class="formgroup">
                  <label for="gname" class="control-label">{$system.0.value1}：</label>
                  <input type="text" name="gname" id="gname" value="{$result.0.gname}" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="name" class="control-label">{$system.0.value2}：</label>
                  <input type="text" name="name" id="name" value="{$result.0.name}" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="tel" class="control-label">{$system.0.value3}：</label>
                  <input type="text" name="tel" id="tel" value="{$result.0.tel}" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="ca" class="control-label">{$system.0.value4}：</label>
                  <input type="text" name="ca" id="ca" value="{$result.0.ca}" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="location" class="control-label">{$system.0.value5}：</label>
                  <input type="text" name="location" id="location" value="{$result.0.location}" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="address" class="control-label">{$system.0.value6}：</label>
                  <input type="text" name="address" id="address" value="{$result.0.address}" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="uid" class="control-label">所属人：</label>
                  <select name="uid" id="uid" class="form-control">
                    <foreach name="uid" item="v">
                        <option value="{$v.id}">{$v.name}</option>
                    </foreach>
                  </select> 
                </div>
                <div class="formgroup">
                  <br>
                  <input type="hidden" name="id"  value="{$result.0.id}">
                  <input class="btn btn-info" type="submit" value="修改">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  	</form>
<include file="Public/footer" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="__Js__/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__Js__/bootstrap.min.js"></script>
</body>
</html>