<!DOCTYPE html>
<html lang="utf-8">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>查看备注</title>                       <!--网页标题-->
        <meta name="description" content="查看备注">  <!--网页介绍-->
        <META NAME ="keywords" CONTENT="查看备注">    <!--搜索关键词-->
        <link rel="stylesheet" href="__Css__/bootstrap.min.css">
 		<link rel="stylesheet" href="__Css__/index.css">
        <link rel="shortcut icon" type="image/x-icon" href="__Image__/favicon.ico" />
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
<body>
	<include file="Public/menu" />
	<form action="" method="post">
		<div class="container">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                            <div class=" btn btn-group">
                            <a class="btn btn-warning" href="{:U('/Home/Customer/inscustomer',array('id'=>$result['0']['id']))}">修改</a>
                            <a class="btn btn-info" href="{:U('/Home/Customer/addremarks',array('id' =>$result['0']['id']))}">添加备注</a>
                            <if condition="($result['0']['success'] eq 0 )"> 
                                <a class="btn btn-success" href="{:U('/Home/Customer/addsuccess',array('id' =>$result['0']['id']))}">合作</a>
                            <else/>
                                <a class="btn btn-danger" href="{:U('/Home/Customer/pickupsuccess',array('id' =>$result['0']['id']))}">取消合作</a>
                            </if>
                            
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">客户名称</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-1"><p class="text-center">联系人</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">联系电话</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">所属公司</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-1"><p class="text-center">所在地</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">公司地址</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-2"><p class="text-center">操作</p></div> -->
                    </div>
                </div>
                <div class="panel-body">
                	<div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$system.0.value1}：</p></div>
                        <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$result.0.gname}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$system.0.value2}：</p></div>
                        <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$result.0.name}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$system.0.value3}：</p></div>
                        <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$result.0.tel}</p></div>
                    </div>
                    <div class="row">
                         <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$system.0.value4}：</p></div>
                         <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$result.0.ca}</p></div>
                    </div>  
                    <div class="row">
                         <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$system.0.value5}：</p></div>
                        <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$result.0.location}</p></div>
                    </div>
                    <div class="row">
                         <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$system.0.value6}：</p></div>
                        <div class="col-xs-12 col-sm-6 col-md-6"><p class="text-center">{$result.0.address}</p></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
            	<div class="panel-heading">
            		<h4>沟通备注</h4>
            	</div>
            	<div class="panel-body">
            		<foreach name="remarks" item="v">
	            		<div class="panel panel-warning">
	            			<div class="panel-heading">
	            				<p><strong>添加（修改）时间：</strong>{$v.time|date="Y-m-d H:i",###}</p>
	            			</div>
	            			<div class="panel-body remarks-body">
	            				<pre class="text-center text-muted">{$v.remarks}</pre>
	            			</div>
	            			<div class="panel-footer remark-footer">
	            				<a class="btn btn-info remarka" href="{:U('/Home/Customer/insremarks',array('id' => $v['id'],'uid' => $v['uid']))}">修改</a>
								<a class="btn btn-danger remarka" href="{:U('/Home/Customer/delremarks',array('id' => $v['id'],'uid' => $v['uid']))}">删除</a>
	            			</div>
	            		</div>
            		</foreach>
            	</div>
                <div class="panel-footer">
                    {$page}
                </div>
            </div>
        </div>
	</form>
<include file="Public/footer" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="__Js__/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__Js__/bootstrap.min.js"></script>
</body>
</html>